{% extends 'base.html' %}
{% load static %}

{% block content %}
<header class="masthead" style="background-image: url(/static/img/home-bg.jpg)">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Bienvenidos</h1>
                    <span class="subheading">Blog de Noticias y Actualidad </span>
                </div>
            </div>
        </div>
    </div>
</header>
    
    <p>REGISTRAR USUARIO</p>
    <div>
        <form method="POST" enctype="multipart/form-data">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" name="" value="REGISTRAR USUARIO">
        </form>
    </div>

    <a href="{% url 'login' %}">¿Ya posee una cuenta? Ingresar</a>

{% endblock %}