<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form method="POST">{%csrf_token%}
        {{form.errors}}
        <input type="text" name="username" placeholder="USUARIO">
        <input type="password" name="password" placeholder="CONTRASEÑA">
        <input type="submit" name="" value="INGRESAR">
    </form>

    <a href="{% url 'crear_usuario' %}">¿No posee una cuenta? Registrese!</a>



</body>
</html>



    