<!DOCTYPE html>
<html lang="en">
    <head>
        <!--<meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
        {% load static %}
        <link rel="stylesheet" href="{% static 'menu.css' %}">
        <title>Document</title>
    </head>
    <body>
        <div id="header">
            <ul id="nav">
                <li><a href="{%url 'home'%}">Inicio</a></li>
                <li><a href="{%url 'segunda_pantalla'%}">Pagina 2</a></li>
                <li>Categorias
                    <ul>
                        <li><a href="{%url 'categorias'%}">Categoria 1</a></li>
                        <li><a href="{%url 'categorias'%}">Categoria 2</a></li>
                        <li><a href="{%url 'categorias'%}">Categoria 3</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div style="margin: 100px;"><h5>Encabezado</h5></div>
            {% block content %}Base{% endblock content %}
        <div style="margin: 100px;"><h5>Pie</h5></div>
    </body>
</html>