{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if existe %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="{% static 'js/confirmacion.js'%}"></script>
<!-- Page Header -->
<header class="masthead" style="background-image: url(/static/img/home-bg.jpg)">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>{{categ}}</h1>
          <span class="subheading">Blog de Noticias y Actualidad sobre {{categ}} </span>
        </div>
      </div>
    </div>
  </div>
</header>



<!-- Main Content -->
{% if page_obj|length > 0 %}
<div class="container card">
  <div class="row card-body">
    <div class="col-lg-8 col-md-10 mx-auto">

      {% for post in page_obj %}
      <div class="post-preview ">

        <h2 class="post-title">
          <a href="{% url 'posts' post.pk %}">{{post.titulo}}</a>

        </h2>
        <p class="post-subtitle text-truncate" style="margin-bottom: 0px;">
          {{post.contenido}}
        </p>
        <strong><a href="{% url 'posts' post.pk %}" style="font-size: 15px; ">Ver más</a></strong>
        </a>
        <div class="row post-meta">
          <div class="col-md-8">
            <p>Postedado por
              <a href="#" on>{{post.id_user}}</a>
              - {{post.fecha_publicacion}}

            </p>
          </div>


          {% if user.is_authenticated %}
          {% if user.id == post.id_user_id %}

          <div class="col-md-4">
            <p class="float-right">
              <a href="{% url 'editar' post.id %}"
                style="color:black;padding-bottom: 10px;padding-left: 15px;padding-right: 15px;padding-top: 10px;"
                role="button" class="btn btn-outline-info" type="image/x-icon"> <img src="{% static 'img/pencil.svg' %}"
                  style="width:17px;height:17px" alt='' /></a>

              <a href="#" onclick="confirmarEliminacion({{post.id}})"
                style="color:black;padding-bottom: 10px;padding-left: 15px;padding-right: 15px;padding-top: 10px;"
                role="button" class="btn btn-outline-danger" type="image/x-icon"> <img
                  src="{% static 'img/trash.svg' %}" style="width:17px;height:17px" alt='' /></a>
            </p>
          </div>

          {% endif %}
          {% endif %}

        </div>
        {% if not forloop.last %}
        <hr>
        {% endif %}

      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}



        <!-- -------------------------------------- ACA VA LO DE PAGINACION--------------------- -->


          {% if page_obj.has_previous %}

            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{page_obj.previous_page_number}} ">Previous</a>

            {% endif %}

            {% for num in page_obj.paginator.page_range %}
              {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{num}}">{{num}}</a>
              {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{num}}">{{num}}</a>
              {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
              <a class="btn btn-outline-info mb-4" href="?page={{page_obj.next_page_number}}">Next</a>
              <a class="btn btn-outline-info mb-4" href="?page={{page_obj.paginator.num_pages}} ">Last</a>
            {% endif %}




           <!-- -------------------------------------- ACA TERMINA LO DE PAGINACION --------------------- -->







{% if page_obj|length is 0 %}

<div class="container card" style="text-align: center">
  <div class="row">
    <div class="col-md-10">
      <p>
      <h4>Lo sentimos, esta categoria aun no contiene post ...</h4>
      </p>

    </div>

  </div>

</div>

{% endif %}


{% if page_obj|length > 0 %}
<p>
Filtrado por fecha
<form action="/categoria/{{categ}}/filtro/" method="GET">
  <input type="date" name="desde">
  <input type="date" name="hasta">
  <input type="submit" name="Buscar">
</form>

</div>
</div>
</div></p>
{% endif %}
{% else %}
ESTO NO ES UNA CATEGORIA
{% endif %}

{% endblock %}