{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Page Header -->
<header class="masthead" style="background-image: url(/static/img/home-bg.jpg)">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Bienvenidos</h1>
          <span class="subheading">Blog de Noticias y Actualidad</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">

      {% for post in object_list %}
      <div class="post-preview">

        <h2 class="post-title">
          {{post.titulo}}
        </h2>
        <p class="post-subtitle text-truncate">
          {{post.contenido}}
        </p>
        <strong><a href="{% url 'posts' post.pk %}" style="font-size: 15px;">Ver más</a></strong>
        </a>
        <p class="post-meta">Postedado por
          <a href="#">Usuario{{post.id}}</a>
          - {{post.fecha_publicacion}}
        </p>

        {% endfor %}


        {% endblock %}