{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ STATIC_URL }}img/post-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>{{post.titulo}}</h1>
          <h2 class="subheading">{{post.subtitulo}}</h2>
          <span class="meta">Posteado por
            <a href="#">{{post.autor}}</a>
            {{post.fecha_publicacion}}
          </span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container ">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {{post.contenido}}
      </div>
    </div>
  </div>
</article>


<hr style="width: 60%">
<div style="margin-left:15px; margin-bottom: 15px;">
  <h6>Comentarios </h6>
</div>
<div class="jumbotron jumbotron-fluid">
  <div class="container-fluid">

    <div class="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button id="" class="btn btn-block text-left" type="button" aria-expanded="true">
              Deja un comentario
            </button>
          </h2>
        </div>

        {% if user.is_authenticated %}
        <!--div class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample"-->
          <div class="card-body">
            <form method="POST"> 
            {% csrf_token %}
            <!-- <div class="container" style="width: 750px">
        <div class="row">
            <div class="col-lg-12"> -->
            {{form|crispy}}
            <input type="submit" name="guardar" id="" value="Guardar" class="btn btn-outline-info">
            <!-- </div>
        </div>
    </div> -->
        {% endif %}

       </form>
          </div>
        </div>
      </div>
    </div>

    {% if comentarios %}
    <br>
    <br>

    <div class="accordion" id="accordionExample">
      {% for comentario in comentarios %}
      <div class="card">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button id="" class="btn btn-block text-left " type="button" data-toggle="collapse"
              data-target="#collapse{{comentario.id}}" aria-expanded="true" aria-controls="collapse{{comentario.id}}">
              Usuario{{comentario.id}}
            </button>
          </h2>
        </div>

        <div id="collapse{{comentario.id}}" class="collapse" aria-labelledby="headingOne"
          data-parent="#accordionExample">
          <div class="card-body">
            <p style="margin-top: 15px; margin-bottom: 15px; font-size:15px;">{{comentario.contenido}}</p>
            <br>
            {{comentario.fecha_publicacion}}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}

  </div>
</div>

{% endblock %}

